body {
  background: #007fc7;
}

#container {
  background: #fff;
  width: 800px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
}

h1 {
}

p {
  width: 300px;
}

.absolute {
  border: 1px solid red;
  background: #f2f2f2;
  position: absolute;
  top: 80px;
  right: 80px;
}

.fixed {
  border: 1px solid red;
  background: #f2f2f2;
  position: fixed;
  margin: 0px;
  bottom: 0px;
  right: 0px;
}

.relative {
  border: 1px solid red;
  position: relative;
  /*propriedades de deslocamento:top, right, bottom, left*/
  /* top: 0px;
  left: 0px; 
  right: 20px;*/
  bottom: -20px;
}
