.conteudo {
  background: blue;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  margin: 10px;
  float: right;
}

#principal {
  border: 5px solid red;
  background: green;
}

.clear {
  clear: both;
}

/*.conteudo1 {
  background: red;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left; /*left, none, right
}*/

.conteudo-zero {
  background: red;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  margin: 10px;
}
